.home {
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  max-width: 55rem;
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  
}

h1 {
  font-size: 9rem;
  color: white;
}

span {
  color: orange;
}

p {
  color: white;
  font-size: 1.9rem;
}